---
const currentYear = new Date().getFullYear();
---

<footer class="mt-12 pt-6 border-t border-light-text-secondary/20 dark:border-dark-text-secondary/20 text-center text-sm text-light-text-secondary dark:text-dark-text-secondary">
  <p>
    <a href="/rss.xml" class="hover:text-light-link dark:hover:text-dark-link">Subscribe via RSS</a>
  </p>
  <p class="mt-2">
    &copy; {currentYear} Justin Heyes-Jones. All Rights Reserved.
  </p>
</footer>
